numpy==2.2.4
Pillow==11.1.0
torch==2.6.0
torchvision==0.21.0
urllib3==2.3.0
pandas==2.2.3
reverse-geocode==1.6.5
scipy==1.15.2
geopy==2.4.1
requests==2.32.3
git+https://github.com/ai-cfia/inaturalist-client.git@main
pydantic[email]==2.11.2
pydantic-settings==2.8.1
python-dotenv==1.1.0
Jinja2==3.1.6
pytest==8.3.5
tqdm==4.67.1
